:root {
    --cl-bg: #E7DDCF;
    --cl-bg-dark: #181818;
    --cl-txt: #3D3D3D;

    --cl-txt-light: #DBCAB6;
    --cl-orange: #DD6013;
    --cl-green: #789904;
    --cl-white: #ffffff;
}
$cl-border: #E7DDCF;
$cl-txt: #3D3D3D;
$cl-txt-light: #DBCAB6;