@use '@styles/mixins' as *;

.video {
    &-badge-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 110;
        display: flex;
        justify-content: end;
        align-items: end;
        pointer-events: none;

        @include md {
            display: none;
            position: relative;
            top: auto;
            left: auto;
            height: auto;
            width: auto;
            grid-column: 1/-1;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
        }
    }

    @include md {
        .video-badge-wrap {
            display: flex;
        }
    }

    &-badge {
        will-change: transform;
        display: grid;
        overflow: hidden;
        margin-right: 4rem;
        margin-bottom: 4rem;
        pointer-events: auto;
        align-items: center;
        justify-items: center;
        pointer-events: none;
        @include size(25rem);

        >* {
            grid-area: 1/1/2/2;
        }

        @include md {
            margin-right: 0;
            margin-bottom: 0;
            @include size(17.6rem);
        }

        @include sm {
            @include size(16.3rem);
        }

        &-inside {
            @include size(18.6rem);
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                @include size(100%);
                transition: opacity 400ms ease;
                background-color: rgba(0, 0, 0, .6);
                z-index: 2;
            }

            & img {
                position: relative;
                z-index: 1;
                transition: transform 400ms ease;
            }

            @include md {
                @include size(13rem);
            }

            @include sm {
                @include size(12rem);
            }
        }

        @keyframes rot {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(-360deg);
            }
        }

        &-outside {
            width: 100%;
            height: 100%;
            animation: rot 20s linear infinite;
        }

        &-ic {
            display: flex;
            align-items: center;
            justify-content: center;

            @include size(100%);
            z-index: 2;

            &-inner {
                opacity: 0;
                transform: scale(1.1);
                transition: all 400ms ease;
                width: 32%;
            }
        }

        &:hover {
            .video-badge-inside img {
                transform: scale(1.1);
            }

            .overlay {
                opacity: 1;
            }

            .video-badge-ic {
                &-inner {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
}